<div class="large-12 medium-12 medium-centered columns">
  <%= form_for ([@forum,@topic]),html: { multipart: true } do |form| %>

      <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
        <%= hata_mesaji_goster('Bu alan boş bırakılamaz.') %>
      </div>
      <div>
        <%= form.label :body %>
        <%= form.text_area :body, class:'topic-area' %>
        <%= hata_mesaji_goster('İçerik en az 20 karakter uzunluğunda olmalıdır.')%>
      </div>
      <div>
        <%= form.submit class: 'small button right' %>
      </div>
  <% end %>
</div>
