<div class="topic columns">
  <div class="small-10 columns">
    <h5><%= link_to topic.title, topic%></h5>
    <p><%= truncate topic.body, length: 50 %></p><%# konu içeriğini 50 karakter ile sınırladık ana sayfada görüntülemek için%>
    <small >
      <% unless params[:action] == 'show' && params[:controller] == 'forums' %>
      <span >
        <%= link_to topic.forum.name, topic.forum %>
      </span>
      <%end%>
      <%= link_to_unless_current topic.user.username, profile_path(topic.user) %> tarafından
      <%= time_ago_in_words topic.created_at %> önce gönderildi.
    </small>
  </div>
  <div>
    <div class="small-2 columns text-center answer-count">
      <strong><script id="dsq-count-scr" src="//rails-on-forum.disqus.com/count.js" async></script></strong><br>Yorum
    </div>
        </div>

</div>